/*
**  MAIN
*/

body {
    background-color: white;
    max-width: 100%;
    max-height: 100%;
    background-image: url('https://www.laverdure.fr/img/c/3468.jpg');
    background-size: 100%;    
}

h1 {
    text-align: center;
    color: white;
}

#top_bar {
  background: white;
  margin-top:2vh;
  margin-left:2.5vw;
  width: 95vw;
  height: 11.5vh;
}

#footer {
    background: white;
    margin-top:2vh;
    margin-left:2.5vw;
    width: 95vw;
    height: 11.5vh;
}

#full_body{
    margin-top:1.5vh;
    margin-left:2.5vw;
}
#left-col {
    float:left;
    background: white;
    width: 10vw;
    height: 75vh;
}

#middle-col {
    background: white;
    width: 83vw;
    height: 70vh;
}

#right-col {
    position: absolute;
    background: white;
    margin-left: 84vw;
    margin-top: -70vh;
    width: 11vw;
    height: 70vh;
}

#copyright {
    text-align: right;
    margin-right:5vw;
    margin-top:0.5vh;
    font-style: italic;
}

/*
**  MENU 
*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  .header {
    position: absolute;
    height:5vh;
      width: 95vw;
    padding-top:1.5vh;
      margin-top:4.5vh;
      background: rgb(100, 24, 24);
  }

  body {
      height: 12vh;
      font-size: 2vh;
      font-size: 1vw;
      font-family: sans-serif;
      color: 0;
  }
  
  a{
      color: #5D6063;
      text-decoration: none;
      text-align: center;
  }
  
  .menu > li {
      display: inline;
      margin-right: 2vw;
  }
  
  .menu > li:last-of-type {
      margin-right:0;
  }
  
  .dropdown {
      position: relative;
  }
  .dropdown > span{
      position: relative;
      z-index: 2;
      cursor: pointer;
  }
  
  .dropdown:hover .features-menu{
      display: flex; 
      flex-direction: column;
      background: rgb(100, 24, 24);
      border-radius: 5px;
      padding-top: 4.5vh;
      position: absolute;
      top: -1.85vh;
      left: -2vh;
      z-index: 1;
  }
  
  .features-menu {
      display: none;
      width:8vw;
  }
  
  .features-menu li{
      list-style-position: outside;
      list-style-type: none;
      list-style: none;
      border-bottom: 2px solid #FFF;
      padding: 2vh 1.3vw 2vh 1.3vw;
      width: 100%;
  }
  .features-menu li:hover {
      background-color: #D6E9FE;
  }
  
  .features-menu li:last-of-type {
      border-bottom: none;
  }

/*
**  FORM CSS
*/


.login-form {
    width:13vw;
     margin-top: 7vh;
}

.form {
	position: relative;
	z-index: 1;
	background: #FFFFFF;
	max-width: 360px;
	margin: auto;
    padding: 45px;
	text-align: center;
}

.form input {
	font-family: "Roboto", sans-serif;
	outline: 0;
	background: #f2f2f2;
    width:100%;
	border: 0;
	margin: 0 0 15px;
	padding: 15px;
	box-sizing: border-box;
	font-size: 14px;
}
.form #login {
	font-family: "Roboto", sans-serif;
	text-transform: uppercase;
	outline: 0;
	background: lightskyblue;
	width: 100%;
	border: 0;
	padding: 15px;
	color: #FFFFFF;
	font-size: 12px;
	cursor: pointer;
}

.form .message {
	margin: 15px 0 0;
	color: #b3b3b3;
	font-size: 12px;
}

.change {
    text-align:center;
    width:8vw;
    height:3vh;
    margin-top:2vh;
}

.form p {
    padding-bottom: 1vh;
}


/* like & com */

#like {
    height:2.5vh;
    width: 1.2vw;
}

#commentbox {
    width:15vw;
    height:10vh;
}


/* A CHECKER */
#container {
    margin-left: 30vw;
    width: 500px;
    height: 375px;
    border: 10px #333 solid;
    position: absolute; 
}
#videoElement {
    width: 500px;
    height: 375px;
    background-color: #666;
}
#header {
    width: 75%;
    height: 160px;
    background-image: url('https://www.destockpro-france.com/boutique/images_produits/05546-30-z.jpg');
    border-radius: 35px;
    margin-left: auto;
    margin-right: auto;
}
#pic {
    width: 250px;
    height: 90px;
    border-radius: 50px;
    background-color: blanchedalmond;
    margin-top: 500px;
}
#right-rec {
    width: 250px;
    height: 550px;
    border-radius: 30px;
    background-color: #666;
    position: relative;
    float: right;
}
#deco {
    width: 11vw;
    height: 4vh;
    background-color: red;
    border-radius: 15px;
    float: top;
    float: right;
    text-align: center;
    font-size: 1.6vw;
}
#canvas {
    width: 500px;
    height: 375px;
}
.montage {
    margin-left: 0.5vw;
    margin-top: 0.5vw;
    width: 10vw;
    height: 7.5vw;
}
.montageDiv {
    position: absolute;
    width: 11vw;
    height: 9vw;
}
.img_gal {
    margin-left: auto;
    margin-right: auto;
    width: 50vw;
    height: 37vw; 
}


/* 
#right-col {
    position: absolute;
    background: white;
    margin-left: 86.5vw;
    margin-top: -70vh;
    width: 11vw;
    height: 70vh;
} */