body {
    background-image: url('https://www.etoffe.com/29338/papier-peint-medina-thibaut.jpg');
}
#container {
    margin-left: 30vw;
    width: 500px;
    height: 375px;
    border: 10px #333 solid;
    position: absolute; 
}
#videoElement {
    width: 500px;
    height: 375px;
    background-color: #666;
}
#header {
    width: 75%;
    height: 160px;
    background-image: url('https://www.destockpro-france.com/boutique/images_produits/05546-30-z.jpg');
    border-radius: 35px;
    margin-left: auto;
    margin-right: auto;
}
#pic {
    width: 250px;
    height: 90px;
    border-radius: 50px;
    background-color: blanchedalmond;
    margin-top: 500px;
}
#right-rec {
    width: 250px;
    height: 550px;
    border-radius: 30px;
    background-color: #666;
    position: relative;
    float: right;
}
.photo {
    margin-left: auto;
    margin-right: auto;
    width: 90vw;
    height: 60vw;
    background-color: antiquewhite;
}
#deco {
    width: 11vw;
    height: 4vh;
    background-color: red;
    border-radius: 15px;
    float: top;
    float: right;
    text-align: center;
    font-size: 1.6vw;
}
#canvas {
    width: 500px;
    height: 375px;
}