/*
**  MAIN
*/

* {
    margin: 0;
    padding: 0;
  }

body {
    background-color: white;
    width:100vw;
    height:100vh;
    overflow:hidden
}

h1 {
    text-align: center;
    color: white;
}

#top_bar {
  margin-top:2vh;
  margin-left:2.5vw;
  width: 95vw;
  height: 11.5vh;
}

#footer {
    background: white;
    margin-top:2vh;
    margin-left:2.5vw;
    width: 95vw;
    height: 11.5vh;
}

#full_body{
    margin-top:1.5vh;
    margin-left:2.5vw;
}


#middle-col {
    background: white;
    padding:2vmin;
    margin-top:5vh;
    width: 83vw;
    height: 70vh;
    overflow-y: scroll;
}

#right-col {
    position: absolute;
    background: transparent;
    margin-left: 84vw;
    margin-top: -80vh;
    width: 11vw;
    height: 70vh;
}

#copyright {
    text-align: right;
    margin-right:5vw;
    margin-top:0.5vh;
    font-style: italic;
}

#paging {
    margin-top:10vh;
    text-align:center;
}

/*
**  MENU 
*/
  
  #welcome {
      font-size:2.5vmin;
      text-align:center;
  }
  .header {
    position: absolute;
    height:7vh;
    width: 95vw;
    border:1vmin;
    margin-top:2vh;
  }

  body {
      font-size: 2.5vmin;
      font-family: sans-serif;
      color: 0;
  }
  
  a{
      color: #5D6063;
      text-decoration: none;
      text-align: center;
  }
  .menu{
    margin-bottom:1vh;

  }
  .menu > li {
      display: inline;
      margin-left:3vmin;
  }
  
  .menu > li:last-of-type {
      margin-right:0;
  }
  
  .dropdown {
      position: relative;
  }
  
  .dropdown > span{
      position: relative;
      z-index: 2;
      cursor: pointer;
  }
  .dropdown:hover .features-menu{
      display: flex; 
      flex-direction: column;
      padding-top: 4.5vh;
      position: absolute;
      top: -1.5vh;
      left: -1vw;
      z-index: 1;
  }

  .features-menu {
      display: none;
      width:12vw;
  }

  
  .features-menu li{
      list-style-type: none;
      list-style: none;
      padding: 2vh 1vw 1vh 0vw;
      width: 100%;
  }
   
   ul li a:hover, ul li a:focus {
    color:rgb(0, 0, 0);
   }

/*
**  FORM CSS
*/


.login-form {
    width:20vw;
    height:20vh;
     margin-top: 7vh;
}

.form {
	position: relative;
	z-index: 1;
	background: #FFFFFF;
    width:15vw;
	margin: auto;
    padding: 1.5vmin;
    text-align: center;
}

.form input {
	font-family: "Roboto", sans-serif;
	outline: 0;
	background: #faf7f7;
    width:80%;
	border: 0;
	margin: 0 0 15px;
	padding: 15px;
	box-sizing: border-box;
	font-size: 2vmin;
}
.form #login {
	font-family: "Roboto", sans-serif;
	text-transform: uppercase;
	outline: 0;
	background: lightskyblue;
	width: 80%;
	border: 0;
	padding: 1.5vmin;
	color: #FFFFFF;
	font-size: 1.5vmin;
	cursor: pointer;
}

.form .message {
	margin: 15px 0 0;
	color: #b3b3b3;
	font-size: 12px;
}

.change {
    display: inline-block;
    padding: 1vmin 2vmin;
    font-size: 1.5vmin;
    margin-top:2vmin;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline: none;
    color: #fff;
    background-color: rgb(49, 178, 218);
    border: none;
    border-radius: 1vmin;
    box-shadow: 0 0.6vmin rgb(100, 100, 100);
  }
  
  .change:hover {
      background-color: rgb(36, 76, 185);
}
  
  .change:active {
    background-color: rgb(49, 178, 218);
    box-shadow: 0 5px #666;
    transform: translateY(4px);
  }

.form p {
    padding-bottom: 1vh;
}


/* like & com */

#like {
    margin-left:0.3vw;
    height:2.5vh;
    width: 1.2vw;
}
#get_likes{
    font-size:2vmin;
    margin-top:5vh;
}

#commentbox {
    position:absolute;
    width:50%;
    width:12vw;
    height:7vh;
    margin-left:-5.7vw;
}

.comz{
    margin-top:5vh;
    float:left;
    width: 60%;
}
.img_com{ 
    height:100%;
    width:100%;
    max-height:66vh;
}
.display_com{
    padding-left: 2vw;
    overflow-y: scroll;
}
.one_com {
    margin:auto;
    text-align:center;
    position:relative;
    width:80%;
    padding:3vmin;
}
.insert_com{
    display:inline-block;
    position:absolute;
    margin-left:-5.7vw;
}


/*
**  Webcam
*/

#body-webcam{
    background: white;
    padding:2vmin;
    margin-top:5vh;
    width: 83vw;
    height: 70vh;
}
#container {
    margin-left: 5vw;
    width: 25vw;
    height: 35vh;
    border: 0.5vmin  #333 solid;
    position: absolute; 
}
#canvas {
    visibility: hidden;
    width: 25vw;
    height: 35vh;
    position: absolute;
}
#CANVAS {
    visibility: hidden;
    width: 25vw;
    height: 35vh;
}

#post_cam {
    margin-top:25vh;
    position: absolute;
}
#cam_pic{
    margin-left: 45vw;
    width: 25vw;
    height: 35vh;
    position: absolute; 
}
#cam_montage{
    margin-left: 45vw;
    width: 25vw;
    height: 35vh;
    position: absolute; 
}
#up_img {
    margin-left: 45vw;
    width: 25vw;
    height: 35vh;
    position: absolute; 
}

#save{
    color:black;
    margin-left: 75vw;
    margin-top: 17vh;
    position: absolute; 
}

#videoElement {
    width:100%;
    height:100%;
}
#header {
    width: 75%;
    height: 160px;
    background-image: url('https://www.destockpro-france.com/boutique/images_produits/05546-30-z.jpg');
    border-radius: 35px;
    margin-left: auto;
    margin-right: auto;
}
#pic {
    width: 250px;
    height: 90px;
    border-radius: 50px;
    background-color: blanchedalmond;
    margin-top: 500px;
}

#deco {
    width: 11vw;
    height: 4vh;
    background-color: red;
    border-radius: 15px;
    float: top;
    float: right;
    text-align: center;
    font-size: 1.6vw;
}

#filter {
    margin-top:-9vh;
    margin-left:40vw;
    position:absolute;
    width: 60vw;
}
.filter {
    width: 6vw;
    height: 9vh;
}

.insert {
    display: inline-block;
    padding: 1vmin 2vmin;
    font-size: 1.5vmin;
    margin-top:2vmin;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline: none;
    color: #fff;
    background-color: rgb(49, 178, 218);
    border: none;
    border-radius: 1vmin;
    box-shadow: 0 0.4vmin rgb(100, 100, 100);
  }
  
  .insert:hover {
      background-color: rgb(36, 76, 185);
}
  
  .insert:active {
    background-color: rgb(49, 178, 218);
    box-shadow: 0 5px #666;
    transform: translateY(4px);
  }


  .insert_take {
    display: inline-block;
    padding: 1vmin 2vmin;
    font-size: 1.5vmin;
    margin-top:13vh;
    margin-left:12vw;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline: none;
    color: #fff;
    background-color: rgb(49, 178, 218);
    border: none;
    border-radius: 1vmin;
    box-shadow: 0 0.4vmin rgb(100, 100, 100);
  }
  
  .insert_take:hover {
      background-color: rgb(36, 76, 185);
}
  
  .insert_take:active {
    background-color: rgb(49, 178, 218);
    box-shadow: 0 5px #666;
    transform: translateY(4px);
  }

  .insert_save {
    position: absolute;
    padding: 1vmin 2vmin;
    font-size: 1.5vmin;
    margin-top:38vh;
    margin-left:55vw;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline: none;
    color: #fff;
    background-color: rgb(49, 178, 218);
    border: none;
    border-radius: 1vmin;
    box-shadow: 0 0.4vmin rgb(100, 100, 100);
  }
  
  .insert_save:hover {
      background-color: rgb(36, 76, 185);
}
  
  .insert_save:active {
    background-color: rgb(49, 178, 218);
    box-shadow: 0 5px #666;
    transform: translateY(4px);
  }
  .insert_com {
      width:12vw;
    font-size: 1.5vmin;
    cursor: pointer;
    color: #fff;
    background-color: rgb(49, 178, 218);
  }

  .insert_com:hover {
    background-color: rgb(36, 76, 185);
}

.insert_com:active {
  background-color: rgb(49, 178, 218);
  box-shadow: 0 2px #666;
  transform: translateY(4px);
}

/*
**  Photos
*/

.montage {
    margin-left: 1vw;
    width: 9vw;
    height: 12.5vh;
    border: 0.35vmin solid black;
}
.montageDiv {
    margin-bottom:0.9vh;
    padding-top:0.25vh;
    width: 11vw;
    height: 13vh;
}


.img_gal {
    margin-left: auto;
    margin-right: auto;
    width: 50vw;
    height: 37vw; 
}

.my_pics {
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding: 1.5vmin;
    width: 15vw;
    height: 20vh;   
}
#delete {
    margin-left:3vw;
    margin-top:-0.3vh;
    height:2.5vh;
    width: 1.2vw;
}
#del_form {
    margin-left:14vw;
    margin-top: -2.5vh;
}

.row {
    margin-left:10vw;
    margin-top:4vh;
    vertical-align: top;
    width: 85%;
    height: 60vh;   
}

.col0, .col1, .col2, .col3, .col4 {
    float:left;
    width:33%;
    text-align: center;
    height:36vh;
}

.col3 {
    margin-left:10vw;
}

.img_galerie {
    width:15vw;
    height: 20vh;
}

.hide { 
    position:absolute; 
    top:-1px; 
    left:-1px; 
    width:1px; 
    height:1px; 
}


@media screen and (max-width: 1300px) {

    body{
        font-size:3vmin;
    }
    .login-form {
        width:75vw;
        height:50vh;
        margin-top: 7vh;
    }
    
    .form {
        z-index: 1;
        width:75vw;
        height:25vh;
        margin-top: 7vh;
        background: transparent;
        margin: auto;
        text-align: center;
        margin-bottom:20vmin;
    }
    
    .form input {
        font-family: "Roboto", sans-serif;
        outline: 0;
        background: #faf7f7;
        width:100%;
        border: 0;
        padding: 15px;
        box-sizing: border-box;
        font-size: 4vmin;
    }
    .form #login {
        font-family: "Roboto", sans-serif;
        text-transform: uppercase;
        outline: 0;
        background: lightskyblue;
        width: 100%;
        border: 0;
        padding: 1.5vmin;
        color: #FFFFFF;
        font-size: 4vmin;
        cursor: pointer;
    }
    .message{
        font-size:4vmin;
    }
    .form p {
        font-size:3.5vmin;
        padding-bottom: 1vh;
    }

    .change {
        display: inline-block;
        padding: 1vmin 2vmin;
        font-size: 3.5vmin;
        width:45vw;
        margin-top:2vmin;
        margin-bottom:3vmin;
        cursor: pointer;
        text-align: center;
        text-decoration: none;
        outline: none;
        color: #fff;
        background-color: rgb(49, 178, 218);
        border: none;
        border-radius: 1vmin;
        box-shadow: 0 0.6vmin rgb(100, 100, 100);
      }

/* WEBCAM SMALL SCREEN SIZE */

      #body-webcam{
        background: white;
        padding:2vmin;
        margin-top:5vh;
        width: 83vw;
        height: 70vh;
    }
    #container {
        margin-left:15vw;
        width: 60vw;
        height: 35vh;
        border: 0.5vmin  #333 solid;
        position: absolute; 
    }
    #canvas {
        visibility: hidden;
        width: 25vw;
        height: 35vh;
        position: absolute;
    }
    #CANVAS {
        visibility: hidden;
        width: 25vw;
        height: 35vh;
    }
    
    #post_cam {
        margin-top:25vh;
        position: absolute;
    }
    #cam_pic{
        margin-left:15vw;
        width: 60vw;
        height: 35vh;
        border: 0.5vmin  #333 solid;
        position: absolute; 
    }
    #cam_montage{
        margin-left: 45vw;
        width: 25vw;
        height: 35vh;
        position: absolute; 
    }
    #up_img {
        margin-left:15vw;
        width: 60vw;
        height: 35vh;
        border: 0.5vmin  #333 solid;
        position: absolute; 
    }
    
    #save{
        color:black;
        margin-left: 75vw;
        margin-top: 17vh;
        position: absolute; 
    }
    
    #videoElement {
        width:100%;
        height:100%;
    }
    #header {
        width: 75%;
        height: 160px;
        background-image: url('https://www.destockpro-france.com/boutique/images_produits/05546-30-z.jpg');
        border-radius: 35px;
        margin-left: auto;
        margin-right: auto;
    }
    #pic {
        width: 250px;
        height: 90px;
        border-radius: 50px;
        background-color: blanchedalmond;
        margin-top: 500px;
    }
    
    #deco {
        width: 11vw;
        height: 4vh;
        background-color: red;
        border-radius: 15px;
        float: top;
        float: right;
        text-align: center;
        font-size: 1.6vw;
    }
    
    #filter {
        margin-left:20vw;
        margin-top:2vh;
        position:absolute;
        width: 60vw;
    }
    .filter {
        width: 6vw;
        height: 9vh;
    }
    #lower{
        position:absolute;
        margin-top:15vh;
    }
    .insert {
        display: inline-block;
        padding: 1vmin 2vmin;
        font-size: 3.5vmin;
        margin-top:2vmin;
        cursor: pointer;
        text-align: center;
        text-decoration: none;
        outline: none;
        color: #fff;
        background-color: rgb(49, 178, 218);
        border: none;
        border-radius: 1vmin;
        box-shadow: 0 0.4vmin rgb(100, 100, 100);
      }
      
      .insert:hover {
          background-color: rgb(36, 76, 185);
    }
      
      .insert:active {
        background-color: rgb(49, 178, 218);
        box-shadow: 0 5px #666;
        transform: translateY(4px);
      }
    
    
      .insert_take {
        display: inline-block;
        padding: 1vmin 2vmin;
        font-size: 3.5vmin;
        margin-top:13vh;
        margin-left:12vw;
        cursor: pointer;
        text-align: center;
        text-decoration: none;
        outline: none;
        color: #fff;
        background-color: rgb(49, 178, 218);
        border: none;
        border-radius: 1vmin;
        box-shadow: 0 0.4vmin rgb(100, 100, 100);
      }
      
      .insert_take:hover {
          background-color: rgb(36, 76, 185);
    }
      
      .insert_take:active {
        background-color: rgb(49, 178, 218);
        box-shadow: 0 5px #666;
        transform: translateY(4px);
      }
    
      .insert_save {
        position: absolute;
        padding: 1vmin 2vmin;
        font-size: 3.5vmin;
        margin-top:38vh;
        margin-left:55vw;
        cursor: pointer;
        text-align: center;
        text-decoration: none;
        outline: none;
        color: #fff;
        background-color: rgb(49, 178, 218);
        border: none;
        border-radius: 1vmin;
        box-shadow: 0 0.4vmin rgb(100, 100, 100);
      }
      
      .insert_save:hover {
          background-color: rgb(36, 76, 185);
    }
      
      .insert_save:active {
        background-color: rgb(49, 178, 218);
        box-shadow: 0 5px #666;
        transform: translateY(4px);
      }
      #right-col{
         display:none;
      }
      .montage {
        margin-left: 1vw;
        width: 12vw;
        height: 18vh;
        border: 0.35vmin solid black;
    }
    /* galerie small resolution */

    .row {
    margin-top:4vh;
    margin-left:0vw;
    vertical-align: top;
    width: 100%;
    height: 60vh;   
    }

.col0, .col1 {
    display: inline-block;
    width:50%;
    text-align: center;
    height:30vh;
}
.col2 {
    margin-top:5vh;
    margin-left:25vw;
    width:50%;
    text-align: center;
    height:30vh;
}
.col3, .col4 {
    display:none;
}

.img_galerie{
    width:75%;
    height: 75%;
    }
    /* like & com */

#like {
    margin-top:8vh;
    margin-left:4vw;
    height:4vh;
    width: 4vw;
}

#get_likes{
    display:none;
}

#commentbox {
    position:absolute;
    width:50%;
    width:20vw;
    height:4vh;
    margin-top:3vh;
    margin-left:-12vw;
}

.comz{
    margin-top:5vh;
    float:left;
    width: 60%;
}
.img_com{ 
    height:100%;
    width:100%;
    max-height:66vh;
}
.display_com{
    padding-left: 2vw;
    overflow-y: scroll;
}
.one_com {
    margin:auto;
    text-align:center;
    position:relative;
    width:80%;
    padding:3vmin;
}
.insert_com{
    display:inline-block;
    position:absolute;
    margin-left:-15vw;
    margin-bottom:1vh;
    width:30vw;
    height:3vh;
    font-size:3vmin;
}
#paging {
    margin-top:10vh;
    font-size:4vmin;
    text-align:center;
}
}